h1 {
    font-family: "Verdana";
}
header {
    background-color: #E2CFE8;
    padding: .5em;
    margin-bottom: 2em;
}

.image {
    float: right;
}
.column-1 {
    width: 45%;
    background-color: #D5E8CF;
    float: left;
    padding: 1em;
    margin-bottom: 1em;
}

.column-2 {
    width: 45%;
    background-color: #CFE8E6;
    float: right;
    padding: 1em;
}

footer {
    text-align: center;
    clear: both;
}
